@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

* {
  line-height: normal;
  font-family: 'Pretendard', 'sans-serif';
}

body {
  /* grey100 */
  background-color: #f8f9fa;
}

.times-font {
  font-family: 'Times', 'sans-serif';
}
.times-font * {
  font-family: 'Times', 'sans-serif';
}